extends base 

mixin getOptions(opt)
    .option
        input(type='checkbox' name=`checkbox-${opt}` id=`checkbox-${opt}`)
        textarea.options(name="options", id=`options-${opt}`) 

block content 
    form
        fieldset.stepOne(name='part-1')
            legend Parte 1 / 2
            
            label(for='subject') Asignatura
            input#subject(list='subjects')
            datalist.subject(id='subjects')
                each field in ['Biología', 'Ciencias Sociales', 'Competencias Humanas', 'Español', 'Física', 'Inglés', 'Matemáticas', 'Química']
                    option(value=`${field}`)=field
            
            label(for='topics' list='topics') Temas
            input#topics(list='topics')
            datalist.topics(id='topics')

            label(for='subtopics' list='subtopics') Subtemas
            input#subtopics(list='subtopics')
            datalist.subtopics(id='subtopics')

            label(for='difficulty') Dificultad
            input#difficulty(for='difficulty' list='difficulty')
            datalist.difficulty(id='difficulty')
                each difficulty in [1,2,3,4,5]
                    option(value=`${diffficulty}`)=difficulty
            button.nextBtn(type='button') Siguiente
        fieldset.stepTwo.hidden(name='part-2')
            legend Parte 2 / 2
            label(type='text') Pregunta
            textarea.question(name="question")
            each letter in ['A','B','C','D']
                +getOptions(letter)
            button.prevBtn(type='button') Atrás
            button(type='button') Terminar

